<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huyang.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.huyang.lib.to.User" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="GANDER" property="gander" jdbcType="TINYINT" />
    <result column="IS_ADMIN" property="isAdmin" jdbcType="TINYINT" />
    <result column="STATUS" property="status" jdbcType="TINYINT" />
    <result column="TEL" property="tel" jdbcType="INTEGER" />
    <result column="QQ" property="qq" jdbcType="INTEGER" />
    <result column="WEIXIN" property="weixin" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="CREATED_DATE" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="LAST_LOGIN" property="lastLogin" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, PASSWORD, GANDER, IS_ADMIN, STATUS, TEL, QQ, WEIXIN, EMAIL, CREATED_DATE, 
    LAST_LOGIN
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="getAllUser" resultMap="BaseResultMap">
    SELECT  * FROM user
  </select>
  <select id="getUserByName" resultMap="BaseResultMap">
    SELECT * FROM user where NAME = #{userName}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huyang.lib.to.User" >
    insert into user (ID, NAME, PASSWORD, 
      GANDER, IS_ADMIN, STATUS, 
      TEL, QQ, WEIXIN, EMAIL, 
      CREATED_DATE, LAST_LOGIN)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{gander,jdbcType=TINYINT}, #{isAdmin,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, 
      #{tel,jdbcType=INTEGER}, #{qq,jdbcType=INTEGER}, #{weixin,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{lastLogin,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.huyang.lib.to.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="gander != null" >
        GANDER,
      </if>
      <if test="isAdmin != null" >
        IS_ADMIN,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="tel != null" >
        TEL,
      </if>
      <if test="qq != null" >
        QQ,
      </if>
      <if test="weixin != null" >
        WEIXIN,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="createdDate != null" >
        CREATED_DATE,
      </if>
      <if test="lastLogin != null" >
        LAST_LOGIN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="gander != null" >
        #{gander,jdbcType=TINYINT},
      </if>
      <if test="isAdmin != null" >
        #{isAdmin,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=INTEGER},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=INTEGER},
      </if>
      <if test="weixin != null" >
        #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLogin != null" >
        #{lastLogin,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huyang.lib.to.User" >
    update user
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="gander != null" >
        GANDER = #{gander,jdbcType=TINYINT},
      </if>
      <if test="isAdmin != null" >
        IS_ADMIN = #{isAdmin,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=TINYINT},
      </if>
      <if test="tel != null" >
        TEL = #{tel,jdbcType=INTEGER},
      </if>
      <if test="qq != null" >
        QQ = #{qq,jdbcType=INTEGER},
      </if>
      <if test="weixin != null" >
        WEIXIN = #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLogin != null" >
        LAST_LOGIN = #{lastLogin,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huyang.lib.to.User" >
    update user
    set NAME = #{name,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      GANDER = #{gander,jdbcType=TINYINT},
      IS_ADMIN = #{isAdmin,jdbcType=TINYINT},
      STATUS = #{status,jdbcType=TINYINT},
      TEL = #{tel,jdbcType=INTEGER},
      QQ = #{qq,jdbcType=INTEGER},
      WEIXIN = #{weixin,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      LAST_LOGIN = #{lastLogin,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>